<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.misyakuji.mapper.UserInfoMapper">

    <select id="findByUserId" resultType="com.misyakuji.entity.UserInfo">
        SELECT * FROM user_info WHERE user_id = #{userId}
    </select>

    <insert id="insertUserInfo" parameterType="com.misyakuji.entity.UserInfo">
        INSERT INTO user_info (user_id, mobile, phone, email, seat, entity, leader, position, join_day, `group`) 
        VALUES (#{userId}, #{mobile}, #{phone}, #{email}, #{seat}, #{entity}, #{leader}, #{position}, #{joinDay}, #{group})
    </insert>

    <update id="updateUserInfo" parameterType="com.misyakuji.entity.UserInfo">
        UPDATE user_info 
        SET mobile = #{mobile}, phone = #{phone}, email = #{email}, seat = #{seat}, 
            entity = #{entity}, leader = #{leader}, position = #{position}, 
            join_day = #{joinDay}, `group` = #{group} 
        WHERE user_id = #{userId}
    </update>

    <update id="updateUserInfoSelective" parameterType="com.misyakuji.entity.UserInfo">
        UPDATE user_info
        <set>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="seat != null">seat = #{seat},</if>
            <if test="entity != null">entity = #{entity},</if>
            <if test="leader != null">leader = #{leader},</if>
            <if test="position != null">position = #{position},</if>
            <if test="joinDay != null">join_day = #{joinDay},</if>
            <if test="group != null">`group` = #{group},</if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteUserInfoByUserId">
        DELETE FROM user_info WHERE user_id = #{userId}
    </delete>

</mapper>