<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.misyakuji.mapper.UserMapper">

    <select id="findByUsername" resultType="com.misyakuji.entity.User">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <insert id="insertUser" parameterType="com.misyakuji.entity.User">
        INSERT INTO users (username, password, role) VALUES (#{username}, #{password}, #{role})
    </insert>

</mapper>
